
.wraper {
	width: 1280px;
	background-color: gray;
	/*background-image: url("../img/bg.jpg") ;*/
	font-family: Tahoma;
}
.content {
	width: 1000px;
	margin: -2px auto;
}

.logo {
	margin-left: 27px;
	float: left;
	width: 600px;
	margin-top: 10px;
	position: relative;
}
.logo p {
	position: absolute;
	font-size: 12px;
	right:405px;
	top: 100px;
}
.contact {
	margin-top: 6px;
	float: right;
	margin-right: 32px;
	margin-bottom: 29px;
	font-size: 12px;
	line-height: 19px;
}
.clearfix {
	clear: both;
}
header {
	background-color: #fff;
}
.cantry {
	float: right;
	margin-right: 33px;
}
.cantry ul li{
	float: right;
	width: 55px;

}
.cantry li img {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}
.cantry a {
	display: block;
	font-size: 10px;
	text-align: center;
	color: #128aa7;
}
/*NAV*/
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    width: 120px;
    text-align: center;
    padding: 5px 13px 9px 8px;
    color: white;
    font-size: 14px;
    /*background-color: red;*/
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 140px;
    top: 28px;
    left: 0;
    background-color: white;
    border: 1px solid red;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 14px;
    background-color: red;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
/*FON*/
.fon {
	width: 1000px; /* ширина трех блоков */
	background: url(../img/fon.jpg) repeat-y; /* фоновая картинка. повторяется по вертикали */
	float: left	; /* чтобы не добавлять div с style="clear:both;" (не всегда уместно это применять) */
	padding-bottom: 12px;
	border-bottom: 1px solid black;
}
.left_col {
	width: 175px;
	float: left;
}
.center_col {
	width: 548px;
	float: left;
}
.right_col {
	width: 175px;
	float: left;
}
.left_col,
.right_col,
.center_col {
	padding-right: 20px;
	padding-left: 14px;
	padding-top: 10px;
	font-size: 14px;
	line-height: 24px;
}
footer h3 {
	text-align: center;
	padding: 10px;
	color: #fff;
	font-size: 12px;
}


