body {
	margin: 0 auto;
}


	.wraper {
	/*width: 1270px;*/
	/*background-color: gray;*/
	/*background-image: url("../img/bg.jpg") ;*/
	/* IE10+ */
background-image: -ms-linear-gradient(top, #1297B8 0%, #1297B8 3.3%, #128AA7 3.3%, #128AA7 6.4%, #FFFFFF 6.4%, #FFFFFF 6.5%, #19CFE2 6.6%, #FBFEFE 20%, #3FC4D2 20%, #1394B2 32%, #1496b4 32%, #0C739F 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #1297B8 0%, #1297B8 3.3%, #128AA7 3.3%, #128AA7 6.4%, #FFFFFF 6.4%, #FFFFFF 6.5%, #19CFE2 6.6%, #FBFEFE 20%, #3FC4D2 20%, #1394B2 32%, #1496b4 32%, #0C739F 100%);

/* Opera */
background-image: -o-linear-gradient(top, #1297B8 0%, #1297B8 3.3%, #128AA7 3.3%, #128AA7 6.4%, #FFFFFF 6.4%, #FFFFFF 6.5%, #19CFE2 6.6%, #FBFEFE 20%, #3FC4D2 20%, #1394B2 32%, #1496b4 32%, #0C739F 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1297B8), color-stop(3.3, #1297B8), color-stop(3.3, #128AA7), color-stop(6.4, #128AA7), color-stop(6.4, #FFFFFF), color-stop(6.5, #FFFFFF), color-stop(6.6, #19CFE2), color-stop(20, #FBFEFE), color-stop(20, #3FC4D2), color-stop(32, #1394B2), color-stop(32, #1496b4), color-stop(100, #0C739F));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #1297B8 0%, #1297B8 3.3%, #128AA7 3.3%, #128AA7 6.4%, #FFFFFF 6.4%, #FFFFFF 6.5%, #19CFE2 6.6%, #FBFEFE 20%, #3FC4D2 20%, #1394B2 32%, #1496b4 32%, #0C739F 100%);

/* W3C Markup */
background-image: linear-gradient(to bottom, #1297B8 0%, #1297B8 3.3%, #128AA7 3.3%, #128AA7 6.4%, #FFFFFF 6.4%, #FFFFFF 6.5%, #19CFE2 6.6%, #FBFEFE 20%, #3FC4D2 20%, #1394B2 32%, #1496b4 32%, #0C739F 100%);
	font-family: Tahoma;
	margin: o auto;
	position: relative;

}
.container {
	width: 1000px;
	border-bottom: 3px solid #031e29;
	-webkit-box-shadow: -1px -1px 19px 2px rgba(0,0,0,0.43);
	-moz-box-shadow: -1px -1px 19px 2px rgba(0,0,0,0.43);
	box-shadow: -1px -1px 19px 2px rgba(0,0,0,0.43);
	margin:  0 auto;
}
.content {
	width: 1000px;
	margin: -2px auto;
}
.google-head {
	margin: 0 auto;
}

.logo {
	margin-left: 27px;
	float: left;
	width: 600px;
	margin-top: 10px;
	position: relative;
}
.logo p {
	position: absolute;
	font-size: 12px;
	right:405px;
	top: 100px;
	color: #6a7b87;
}
.contact {
	margin-top: 6px;
	float: right;
	margin-right: 32px;
	margin-bottom: 29px;
	font-size: 12px;
	line-height: 19px;
	color: #41a1b9;
}
.clearfix {
	clear: both;
}
header {
	background-color: #fff;
}
.cantry {
	float: right;
	margin-right: 33px;
}
.cantry ul li{
	float: right;
	width: 55px;

}
.cantry li img {
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}


.india, .nepal, .tibet, .butan, .sri-lanka, .maldives{
	margin: 0 auto;
	background: url(../img/sprites.png) no-repeat;
}

.india{
	background-position: -2px -2px ;
	width: 45px;
	height: 44px;
}

.nepal{
	background-position: -48px 0;
	width: 44px;
	height: 44px;
}

.tibet{
	background-position: -100px 0;
	width: 44px;
	height: 44px;
}

.butan{
	background-position: -154px -1px ;
	width: 43px;
	height: 44px;
}

.sri-lanka{
	background-position: -199px 0;
	width: 45px;
	height: 44px;
}

.maldives{
	background-position: -252px 0;
	width: 44px;
	height: 44px;
}


.cantry a {
	display: block;
	font-size: 10px;
	text-align: center;
	color: #128aa7;
}
/*NAV*/
ul.menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #323232;


    /*backround-image: url('../img/triangle.png');*/
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    width: 120px;
    text-align: left;
    padding: 5px 13px 6px 8px;
    color: white;
    font-size: 14px;
    text-decoration: none;

}
ul.menu > li >a:first-child {
	text-align: center;
}
span {
	padding-left: 5px;
	font-size: 8px;
}

ul.menu > li > a:hover {
    background-color: #323232;
}
ul.submenu {
    display: none;
    position: absolute;
     padding-bottom: 4px;
    width: 140px;
    top: 24px;
    left: 0;
    background-color: #333333;
    -webkit-box-shadow: 2px 5px 14px -1px rgba(0,0,0,0.67);
-moz-box-shadow: 2px 5px 14px -1px rgba(0,0,0,0.67);
box-shadow: 2px 5px 14px -1px rgba(0,0,0,0.67);


}
ul.submenu > li {
    display: block;

}
ul.submenu > li > a {
    display: block;
    padding: 4px 10px 4px 10px;
    color: white;
    font-size: 14px;
    background-color: #333333;

    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
.ola a{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4eacda+0,2e7ac4+100 */
background: #4eacda; /* Old browsers */
background: -moz-linear-gradient(top,  #4eacda 0%, #2e7ac4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4eacda 0%,#2e7ac4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4eacda 0%,#2e7ac4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4eacda', endColorstr='#2e7ac4',GradientType=0 ); /* IE6-9 */

}
/*FON*/
.fon {
	width: 1000px; /* ширина трех блоков */
	background: url(../img/fon.jpg) repeat-y; /* фоновая картинка. повторяется по вертикали */
	float: left	; /* чтобы не добавлять div с style="clear:both;" (не всегда уместно это применять) */
	padding-bottom: 12px;
	border-bottom: 1px solid black;
}
.left_col {
	width: 175px;
	float: left;
}
.center_col {
	width: 548px;
	float: left;
}
.right_col {
	width: 175px;
	float: left;
}
.left_col,
.right_col,
.center_col {
	padding-right: 20px;
	padding-left: 14px;
	padding-top: 10px;
	font-size: 14px;
	line-height: 24px;
}
footer h3 {
	text-align: center;
	padding: 10px;
	color: #fff;
	font-size: 12px;
}


